## VMD Store Plugin Manager ##
## Please, do not change this file unless you know what are you doing! ##

####vmdStore#### START vmdStore
## Version XXversionXX
variable vmdStorePath none
lappend auto_path $::vmdStorePath
vmd_install_extension vmdStore "vmdStore::start" "VMD Store/VMD Store"
####vmdStore#### END vmdStore